@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #FFFFFF;
  box-shadow: #00000033;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.navigation-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #756157;
}

.subtitle {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-title,
.services-name {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-description,
.services-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
}

.advantages-item-blue {
  background-color: #82b3d3;
}

.advantages-item-sky,
.services-item:nth-child(odd) {
  background-color: #83b3d31f;
}

.advantages-item-white-blue {
  background-color: #83b3d333;
}

.advantages-item-blue {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item-blue .advantages-description {
  color: inherit;
}

.appointment-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #756157;
}

.main-subscribe {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.field {
  background-color: #f2f2f2;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}

.subscribe-button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #82b3d3;
}

.contacts-address {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.contacts-phone {
  color: inherit;
  text-decoration: none;
}

.preview-lead,
.services-text,
.appointment-text,
.subscribe-lead {
  text-align: center;
}
