@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
}

.page-header {
    color: #000000;
}

.navigation-link {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
}

.navigation-user li:last-child {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #756157;
}

.main-index {
    color: #000000;
}

.subtitle {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.advantages-title,
.services-name {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-description,
.services-description {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.advantages-item-blue {
    background-color: #82B3D3;
}

.advantages-item-sky,
.services-item:nth-child(odd) {
    background-color: #83B3D31F;
}

.advantages-item-white-blue {
    background-color: #83B3D333;
}

.advantages-item-blue .advantages-title,
.advantages-item-blue .advantages-description {
    color: #FFFFFF;
}

.appointment-button {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #756157;
}

.subscribe {
    color: #FFFFFF;
    background-color: #000000;
    background-image: url("../images/subscribe.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.field {
    background-color: #F2F2F2;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.subscribe-button {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #82B3D3;
}

.contacts-phone {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}
